{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>{% block title %}Sample Generator{% endblock %}</title>

        <script type="text/javascript" src="https://www.google.com/jsapi"></script>

        {% block scripting %}{% endblock %}
	<style>
        #header {
		text-align: right;
	}
	.smallitem {
		float: left;
		width: 120px;
		height: 120px;
	}
        .smallimage img {
                height: 100px;
		width:auto;
	}
        .smallimage img {
		height: auto;
		width: 100px;
	}
        {% block pagestyling %}{% endblock %}
	</style>
</head>

<body>
	<div id="content">
	{% block content %}{% endblock %}
	</div>
	<script>
	{% block onceloadedscripts %}{% endblock %}
        </script>
</body>
</html>
